<html !DOCTYPE>
<head>
<title>Site</title>
<charset meta="utf-8"/>
</head>
	<body>
    <div>
		<form action="/login" method="post">
		<input type="text" name="username" placeholder="Имя"/>
		<input type="text" name="password" placeholder="Пароль"/>	
		<input type="submit" name="But" value="Войти"/>
			<div>{{ err }}</div>
		</form>
        {% if Propusk %}
        <div align="right">Вы авторизированы как {{ Name }}
            <form action="/GO" method="post">
                <input type="submit" value="Войти">
            </form>
            <form action="/Exit" method="post">
                <input type="submit" value="Выйти">
            </form>
        </div>
        {% endif %}
    </div>
		<a href="http://127.0.0.1:5000/registration">Зарегиться</a>
		<form action="/clear_base" method="post">
        	<p>
            	<input type="submit" value="Очистить базу">
        	</p>
    	</form>

		<form action="/preview_bases" method="post">
        <p>
            <input type="submit" value="Показать базу">
        </p>
        <p>
        {% if Identy %}
			<br>
				<p align="center">Таблица users</p>
			<br>
            <table border="1" cellpadding="5" align="center" width="25">
                 <tr>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Salt</th>
                 </tr>
                {% for r in rows %}
                 <tr>
                    <th> {{ r.username }}</th>
                    <th><textarea style="resize: none" cols="50" rows="3">{{ r.password }}</textarea></th>
                    <th><textarea style="resize: none" cols="50" rows="3">{{ r.salt }}</textarea></th>
                 </tr>
                {% endfor %}
            </table>
			<br>
				<p align="center">Таблица sessions</p>
			<br>
			<table border="1" cellpadding="5" align="center" width="25">
                 <tr>
                    <th>Логин</th>
                    <th>Sessions</th>
                 </tr>
                {% for r in rows1 %}
                 <tr>
                    <th> {{ r.username }}</th>
                    <th><textarea style="resize: none" cols="50" rows="3">{{ r.session_key }}</textarea></th>
                 </tr>
                {% endfor %}
            </table>
        {% endif %}
        </p>
    </form>
		</div>
	</body>
</html>