<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Регестрация</title>
    <link rel="stylesheet" href="/static/content/forms.css">
    <link rel="stylesheet" href="/static/content/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <p class="error">Ошибка</p>
        <div id="forms">
            <form action="/registration" method="post">
                <p><span class="fa fa-user fa-2x"></span>
                    <input id="name" type="text" placeholder="Ник">
                </p>
                <p><span class="fa fa-user fa-2x"></span>
                    <input id="username" type="text" placeholder="Логин">
                </p>
                <p><span class="fa fa-lock fa-2x"></span>
                    <input id="password" type="password" placeholder="Пароль">
                </p>
                <p><span class="fa fa-lock fa-2x"></span>
                    <input id="confirm" type="password" placeholder="Подтверждение">
                </p>
                <p>
                    <input type="button" onclick="registration()" value="Регестрация">
                </p>
            </form>
            <p><a href="/login">Вход ползователя&nbsp;</a><span class="fa fa-sign-in"></span>
            </p>
        </div>
    </div>
    <script src="/static/scripts/jquery-2.2.1.js"></script>
    <script src="/static/scripts/registration.js"></script>
</body>

</html>